/* [z-paging-x]公共css*/

.zpx-content {
	height: 100%;
}

.zpx-content-fixed, .zpx-loading-fixed {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.zpx-flex1 {
	flex: 1;
}

.zpx-back-to-top {
	width: 76rpx;
	height: 76rpx;
	z-index: 999;
	position: absolute;
	bottom: 260rpx;
	right: 25rpx;
	transition-duration: .3s;
	transition-property: opacity;
}

.zpx-back-to-top-show {
	opacity: 1;
}

.zpx-back-to-top-hide {
	opacity: 0;
}

.zpx-back-to-top-img {
	flex: 1;
	z-index: 999;
}